* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: montserrat;
}

nav {
    background-color: gray;
    height: 80px;
}

label.logo {
    color: white;
    font-size: 40px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-transform: uppercase;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 17px;
}

a.active,
a:hover {
    background-color: black;
    transition: .5s;
}

.checkbtn {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* responsive for md devices */
@media (max-width:952px) {
    label.logo {
        padding-left: 50px;
        font-size: 30px;
    }

    nav ul li a {
        font-size: 15px;
    }
}

@media(max-width:858px) {
    .checkbtn {
        display: block;
    }

    nav ul {
        background-color: rgb(36, 36, 102);
        position: fixed;
        top: 80px;
        width: 100%;
        left: -100%;
        height: 100vh;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
    }

    a.active,
    a:hover {
        background: none;
        color: gray;
    }

    #check:checked~ul {
        left: 0;
    }

}